doctype html
html
  head
    title Gautam's Dance Academy
    block script
    block style
  body
    nav#navbar 
      ul 
         li #[a(href="/") Home ]
         li #[a(href="/") About ]
         li #[a(href="/") Class Info ]
         li #[a(href="/contact") Contact Us ]
         li #[a(href="/login") Login ]

    block content

    section#footer 
        h1 Copyright@2019 Gautam's Dance Academy.com|All rights reversed
